# __Resumo de Python__

Resumo de tudo o que já foi estudado nas aulas de Tópicos Especiais de Informática. 
- Listas;
- Tuplas; 
- Dicionários; 
- Laços de Repetição; 
- Estrutura Condicional; 
- Funções.

# __Estrutura Condicional__

Se uma condição não for verdadeira passará para outra condição e assim por diante. 

</br> 
**IF** - É usado acompanhado de uma condição; </br>
**ELSE** - Não é necessário condição; ? </br>
**ELIF** - Precisa de condição.

In [ ]:
# exemplo

idade = 17 

if (idade > 18): 
    print("Maior de idade!")
else: 
    print("Menor de idade.")

Menor de idade.

In [ ]:
# Outro exemplo 

idade_joao = 10
idade_maria = 16
idade_marcos = 14

if (idade_joao > idade_maria and idade_joao > idade_marcos): 
    print("João é o mais velho.")
elif (idade_maria > idade_joao and idade_maria > idade_marcos): 
    print("Maria é a mais velha.")
else: 
    print("Marcos é o mais velho")

Maria é a mais velha.

# __Lista__

Utiliza os "[ ]". </br>
O primeiro elemento de uma lista é sempre representado por "0".

In [ ]:
# Criando uma lista 

lista = [2, 4, 6, 8, 10]

# Chamada da lista criada

lista

[2, 4, 6, 8, 10]

In [ ]:
# Saber o tipo da variável "lista"

type(lista)

list

In [ ]:
# Criando nova lista 

frutas = ['Maça', 'Banana', 'Goiaba', 'Manga', 'Maracujá']

# Chamada de um elemento específico 
# Elemento na 4° posição / 3° posição em Python

frutas[3]

# Chamada de todos os elementos da lista
frutas[:]

# Chamada dos elementos localizados na 2° posição até o 3° elemento
frutas[2:4]

# Chamada de todos os elementos a partir do elemento localizado na 1° posição
frutas[1:]

# Chamada de todos os elementos até a 3° posição
frutas[:3]

['Maça', 'Banana', 'Goiaba']

In [ ]:
# Testando se o elemento melancia está na lista 
'Melancia' in frutas

# Testando se o elemento Maça está na lista
'Maça' in frutas

True

In [ ]:
# Reunindo duas listas em uma variável
justar_listas = lista + frutas 

# Chamada da lista criada 
justar_listas

[2, 4, 6, 8, 10, 'Maça', 'Banana', 'Goiaba', 'Manga', 'Maracujá']

In [ ]:
#Listas dentro de listas 
lista_2 = [1, 2, 3, ['Maria', 'João', 'Eduarda'], 4, 5, 6]

#Chamada do elemento contido dentro da lista
lista_2[3][1]

'João'

In [ ]:
# Adicionar elementos em um lista 

lista.append(6)
lista

In [ ]:
# Remover elemento em uma lista 

del(lista[5])
lista

[2, 4, 6, 8, 10]

# __Tuplas__

Identificada pelo "( )". </br>
Imutáveis, ou seja, não pode-se mudar os valores contidos nela.

In [ ]:
# Criando uma tupla 
tupla = (1, 2, 3, 4)

# Chamando a lista criada 
tupla

(1, 2, 3, 4)

In [ ]:
# Chamando um elemento específico da tupla criada 

tupla[0]

1

In [ ]:
# Tentando adicionar um valor na tupla 

tupla.append(7)

AttributeError: ignored

In [ ]:
# Tentando remover um valor da tupla

del(tupla[1])

TypeError: ignored

# __Dicionário__

Identificado pelo abre e fecha chaves "{ }".

In [ ]:
# Criando o dicionário
cadastro = {'nome': 'Maria', 'idade': 17, 'sexo': 'Feminino'}

# Chamando o dicionário criado
cadastro

{'idade': 17, 'nome': 'Maria', 'sexo': 'Feminino'}

In [ ]:
# Verificando o tipo da variável CADASTRO

type(cadastro)

# dict = dicionário

dict

In [ ]:
cadastro['idade']

17

# Métodos do Dicionário

In [ ]:
# Saber se um determinado elemento está contido no dicionário 

'Maria' in cadastro.values()

# Maria está contida no dicionário cadastro

True

In [ ]:
# Saber se uma chave está contida no dicionário

'nome' in cadastro.keys()

# A chave nome está presente no dicionário em questão

True

In [ ]:
# Alterar valores do dicionário 

cadastro['nome'] = 'Eduarda'
cadastro

{'idade': 17, 'nome': 'Eduarda', 'sexo': 'Feminino'}

In [ ]:
# Adicionar valores 

cadastro['peso'] = 54.6

In [ ]:
cadastro

{'idade': 17, 'nome': 'Eduarda', 'peso': 54.6, 'sexo': 'Feminino'}

In [ ]:
# Remover valores do dicionário 
del(cadastro['peso'])

In [ ]:
cadastro

{'idade': 17, 'nome': 'Eduarda', 'sexo': 'Feminino'}

In [ ]:
# Copiar dicionário 

cadastro_copia = cadastro

In [ ]:
cadastro_copia

{'idade': 17, 'nome': 'Eduarda', 'sexo': 'Feminino'}

In [ ]:
# Método para copiar os valores de um dicionário 

copia_dicionario = cadastro.copy()

In [ ]:
copia_dicionario

{'idade': 17, 'nome': 'Eduarda', 'sexo': 'Feminino'}

In [ ]:
# juntar dois dicionários 

pessoal = {'nome': 'Maria', 'peso': 78, 'altura': 1.78}
endereco = {'bairro': 'Várzea', 'numero': 76, 'cidade': 'Catolé do Rocha'}

# método update

pessoal.update(endereco)

In [ ]:
pessoal

{'altura': 1.78,
 'bairro': 'Várzea',
 'cidade': 'Catolé do Rocha',
 'nome': 'Maria',
 'numero': 76,
 'peso': 78}

# __Laços de Repetição__

# __While__

In [ ]:
numero = 1

while (numero <= 10): 
    print(numero)
    numero = numero +1

1
2
3
4
5
6
7
8
9
10

# __Importando Base de Dados__

In [1]:
# Importação das bibliotecas 
import pandas as pd
import numpy as np 

# Leitura do dataframe
df = pd.read_csv("/content/obesity_cleaned.csv")

In [2]:
# Chamada do dataframe

df

       Unnamed: 0      Country  Year       Obesity (%)         Sex
0               0  Afghanistan  1975     0.5 [0.2-1.1]  Both sexes
1               1  Afghanistan  1975     0.2 [0.0-0.6]        Male
2               2  Afghanistan  1975     0.8 [0.2-2.0]      Female
3               3  Afghanistan  1976     0.5 [0.2-1.1]  Both sexes
4               4  Afghanistan  1976     0.2 [0.0-0.7]        Male
...           ...          ...   ...               ...         ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        Male
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      Female
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  Both sexes
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        Male
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      Female

[24570 rows x 5 columns]

In [3]:
# Mostrar apenas os 5 primeiro elementos de df 
df.head()

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male

In [4]:
# Mostrar as 10 primeiras linhas do dataframe 

df.head(10)

   Unnamed: 0      Country  Year    Obesity (%)         Sex
0           0  Afghanistan  1975  0.5 [0.2-1.1]  Both sexes
1           1  Afghanistan  1975  0.2 [0.0-0.6]        Male
2           2  Afghanistan  1975  0.8 [0.2-2.0]      Female
3           3  Afghanistan  1976  0.5 [0.2-1.1]  Both sexes
4           4  Afghanistan  1976  0.2 [0.0-0.7]        Male
5           5  Afghanistan  1976  0.8 [0.2-2.0]      Female
6           6  Afghanistan  1977  0.6 [0.2-1.2]  Both sexes
7           7  Afghanistan  1977  0.2 [0.0-0.7]        Male
8           8  Afghanistan  1977  0.9 [0.3-2.1]      Female
9           9  Afghanistan  1978  0.6 [0.2-1.3]  Both sexes

In [10]:
# Obter mais informações sobre o dataframe 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24570 entries, 0 to 24569
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   24570 non-null  int64
 1   Country      24570 non-null  object
 2   Year         24570 non-null  int64
 3   Obesity (%)  24570 non-null  object
 4   Sex          24570 non-null  object
dtypes: int64(2), object(3)
memory usage: 959.9+ KB

In [9]:
# quantidade de linhas e colunas 

print('O dataframe apresenta {} linhas e {} colunas.'.format(df.shape[0], df.shape[1]))

O dataframe apresenta 24570 linhas e 5 colunas.

In [12]:
# Informa os dados de cada pessoa por ano

df["Year"].value_counts()

1975    585
2006    585
1998    585
1999    585
2000    585
2001    585
2002    585
2003    585
2004    585
2005    585
2007    585
1976    585
2008    585
2009    585
2010    585
2011    585
2012    585
2013    585
2014    585
2015    585
1997    585
1996    585
1995    585
1994    585
1977    585
1978    585
1979    585
1980    585
1981    585
1982    585
1983    585
1984    585
1985    585
1986    585
1987    585
1988    585
1989    585
1990    585
1991    585
1992    585
1993    585
2016    585
Name: Year, dtype: int64

In [13]:
# Todos os dados da coluna Sex ficarão em maiusculo
df["Sex"] = df["Sex"].str.upper()

In [18]:
# Chamada de apresentação dos dados 
df

       Unnamed: 0      Country  Year       Obesity (%)         Sex
0               0  Afghanistan  1975     0.5 [0.2-1.1]  BOTH SEXES
1               1  Afghanistan  1975     0.2 [0.0-0.6]        MALE
2               2  Afghanistan  1975     0.8 [0.2-2.0]      FEMALE
3               3  Afghanistan  1976     0.5 [0.2-1.1]  BOTH SEXES
4               4  Afghanistan  1976     0.2 [0.0-0.7]        MALE
...           ...          ...   ...               ...         ...
24565       24565     Zimbabwe  2015     4.5 [2.4-7.6]        MALE
24566       24566     Zimbabwe  2015  24.8 [18.9-31.3]      FEMALE
24567       24567     Zimbabwe  2016  15.5 [12.0-19.2]  BOTH SEXES
24568       24568     Zimbabwe  2016     4.7 [2.5-8.0]        MALE
24569       24569     Zimbabwe  2016  25.3 [19.1-32.0]      FEMALE

[24570 rows x 5 columns]

In [16]:
# Informa quantas pessoas são do sexo (masculino, feminino e ambos os sexos)
df['Sex'].value_counts().head()

BOTH SEXES    8190
MALE          8190
FEMALE        8190
Name: Sex, dtype: int64

In [17]:
# Informa quantas pessoas possui cada nível de obesidade 
df['Obesity (%)'].value_counts()

No data            504
0.4 [0.1-1.0]       55
0.6 [0.2-1.3]       47
0.3 [0.1-0.7]       46
0.3 [0.1-0.8]       46
                  ...
9.5 [6.7-13.1]       1
4.4 [2.2-7.6]        1
14.1 [9.1-20.3]      1
9.8 [6.9-13.4]       1
4.7 [2.5-8.0]        1
Name: Obesity (%), Length: 16375, dtype: int64